Repository LikeLionTeam/BootHouse, pull requests merged in 2024-08, with the labels that each got.

#9 Feat : 초기데이터값 세팅
  db/src/main/java/likelion/eight/SubCourseEntity/ifs/SubCourseJpaRepository.java
  db/src/main/java/likelion/eight/SubCourseEntity/initializer/SubCourseInitData.java
  db/src/main/java/likelion/eight/bootcamp/ifs/BootCampJpaRepository.java
  db/src/main/java/likelion/eight/bootcamp/initializer/BootCampInitData.java
  db/src/main/java/likelion/eight/category/ifs/CategoryJpaRepository.java
  db/src/main/java/likelion/eight/category/initializer/CategoryInitData.java
  db/src/main/java/likelion/eight/course/CourseEntity.java
  db/src/main/java/likelion/eight/course/ifs/CourseJpaRepository.java
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  view/src/main/resources/application.yml
Labels: Type: Refactor, For: Repository

#10 chore: enum 수정
  db/src/main/java/likelion/eight/notice/enums/PostType.java
Labels: Type: Refactor

#11 Feat: Review Entity 수정, View Review, Course 설정
  db/src/main/java/likelion/eight/review/ReviewEntity.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/converter/CourseConverter.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/model/Course.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseRepository.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/model/ReviewCreateRequest.java
  view/src/main/java/likelion/eight/domain/review/converter/ReviewConverter.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/model/Review.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
Labels: Type:Feature, For: Repository

#14 Feat/bootcamp list
  db/src/main/java/likelion/eight/SubCourseEntity/ifs/SubCourseJpaRepository.java
  db/src/main/java/likelion/eight/bootcamp/BootCampEntity.java
  db/src/main/java/likelion/eight/course/ParticipationTime.java
  db/src/main/java/likelion/eight/course/ifs/CourseJpaRepository.java
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  view/src/main/java/likelion/eight/common/domain/exception/ResourceNotFoundException.java
  view/src/main/java/likelion/eight/domain/bootcamp/converter/BootcampConverter.java
  view/src/main/java/likelion/eight/domain/bootcamp/model/Bootcamp.java
  view/src/main/java/likelion/eight/domain/category/converter/CategoryConverter.java
  view/src/main/java/likelion/eight/domain/category/infra/CategoryRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/category/model/Category.java
  view/src/main/java/likelion/eight/domain/category/service/CategoryService.java
  view/src/main/java/likelion/eight/domain/category/service/port/CategoryRepository.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/controller/model/CourseFilter.java
  view/src/main/java/likelion/eight/domain/course/converter/CourseConverter.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/model/Course.java
  view/src/main/java/likelion/eight/domain/course/model/RecruitmentStatus.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseRepository.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/model/ReviewCreateRequest.java
  view/src/main/java/likelion/eight/domain/review/converter/ReviewConverter.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/model/Review.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
  view/src/main/java/likelion/eight/domain/subcourse/converter/SubCourseConverter.java
  view/src/main/java/likelion/eight/domain/subcourse/infra/SubCourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/subcourse/model/SubCourse.java
  view/src/main/java/likelion/eight/domain/subcourse/service/SubCourseService.java
  view/src/main/java/likelion/eight/domain/subcourse/service/port/SubCourseRepository.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/course/courseList.html
Labels: Type:Feature

#18 Feat: Jwt Login
  db/src/main/java/likelion/eight/user/ifs/UserJpaRepository.java
  view/src/main/java/likelion/eight/common/controller/ExceptionControllerAdvice.java
  view/src/main/java/likelion/eight/common/domain/exception/CertificationCodeNotMatchedException.java
  view/src/main/java/likelion/eight/common/domain/exception/CertificationFailedException.java
  view/src/main/java/likelion/eight/common/infrastructure/SystemClockHolder.java
  view/src/main/java/likelion/eight/common/service/CookieService.java
  view/src/main/java/likelion/eight/common/service/port/ClockHolder.java
  view/src/main/java/likelion/eight/domain/token/helper/JwtTokenHelper.java
  view/src/main/java/likelion/eight/domain/token/helper/ifs/TokenHelperIfs.java
  view/src/main/java/likelion/eight/domain/token/model/Token.java
  view/src/main/java/likelion/eight/domain/token/model/TokenResponse.java
  view/src/main/java/likelion/eight/domain/token/service/TokenService.java
  view/src/main/java/likelion/eight/domain/user/controller/UserController.java
  view/src/main/java/likelion/eight/domain/user/controller/model/LoginUser.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserCreateRequest.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserLoginRequest.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserResponse.java
  view/src/main/java/likelion/eight/domain/user/converter/UserConverter.java
  view/src/main/java/likelion/eight/domain/user/infra/UserRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/user/model/User.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/java/likelion/eight/domain/user/service/port/UserRepository.java
  view/src/main/java/likelion/eight/domain/userauth/controller/UserAuthController.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthService.java
  view/src/main/resources/application.yml
  view/src/main/resources/templates/login/loginForm.html
Labels: Type:Feature, For: Common

#19 git ignore edit
  .gitignore
Labels: Type: Refactor

#23 notice,likes 수정
  db/src/main/java/likelion/eight/likeCourse/LikeCourseEntity.java
  db/src/main/java/likelion/eight/likeCourse/LikeCourseJpaRepository.java
  db/src/main/java/likelion/eight/likeReview/LikeReviewEntity.java
  db/src/main/java/likelion/eight/likeReview/LikeReviewJpaRepository.java
  db/src/main/java/likelion/eight/notice/NoticeEntity.java
  db/src/main/java/likelion/eight/userinterest/UserInterestJpaRepository.java
  view/build.gradle
  view/src/main/java/likelion/eight/domain/LikeReview/controller/LikeReviewController.java
  view/src/main/java/likelion/eight/domain/LikeReview/service/LikeReviewService.java
  view/src/main/java/likelion/eight/domain/likeCourse/Controller/LikeCourseController.java
  view/src/main/java/likelion/eight/domain/likeCourse/Service/LikeCourseService.java
  view/src/main/java/likelion/eight/domain/likeCourse/model/LikeCourseRes.java
  view/src/main/java/likelion/eight/domain/notice/config/WebConfig.java
  view/src/main/java/likelion/eight/domain/notice/controller/NoticeController.java
  view/src/main/java/likelion/eight/domain/notice/converter/MarkdownConverter.java
  view/src/main/java/likelion/eight/domain/notice/model/request/NoticeReq.java
  view/src/main/java/likelion/eight/domain/notice/model/response/NoticeDetailRes.java
  view/src/main/java/likelion/eight/domain/notice/model/response/NoticeRes.java
  view/src/main/java/likelion/eight/domain/notice/service/NoticeService.java
  view/src/main/resources/templates/notice/noticeForm.html
  view/src/main/resources/templates/notice/viewAllNotice.html
  view/src/main/resources/templates/notice/viewNotice.html
Labels: Type:Feature, For: View, For: Repository, For: Business

#26 Feat: RoleType Issue Token
  view/src/main/java/likelion/eight/common/annotation/Login.java
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/common/service/CookieService.java
  view/src/main/java/likelion/eight/domain/notice/config/WebConfig.java
  view/src/main/java/likelion/eight/domain/token/service/TokenService.java
  view/src/main/java/likelion/eight/domain/user/controller/UserController.java
  view/src/main/java/likelion/eight/domain/user/controller/UserLoginController.java
  view/src/main/java/likelion/eight/domain/user/converter/UserConverter.java
  view/src/main/java/likelion/eight/interceptor/AuthorizationInterceptor.java
  view/src/main/java/likelion/eight/resolver/UserCookieResolver.java
  view/src/main/resources/static/index.html
  view/src/main/resources/templates/login/loginForm.html
  view/src/main/resources/templates/user/verifyForm.html
Labels: Type:Feature, For: Common

#30 Feat/course detail
  db/src/main/java/likelion/eight/SubCourseEntity/initializer/SubCourseInitData.java
  db/src/main/java/likelion/eight/course/CourseEntity.java
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  db/src/main/java/likelion/eight/likeCourse/LikeCourseEntity.java
  db/src/main/java/likelion/eight/likeCourse/LikeCourseJpaRepository.java
  db/src/main/java/likelion/eight/review/ifs/ReviewJpaRepository.java
  view/src/main/java/likelion/eight/ViewApplication.java
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/common/service/CookieService.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseRestController.java
  view/src/main/java/likelion/eight/domain/course/converter/CourseConverter.java
  view/src/main/java/likelion/eight/domain/course/model/Course.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/token/service/TokenService.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/course/courseList.html
Labels: Type:Feature

#33 Notice
  db/src/main/java/likelion/eight/likeCourse/LikeCourseEntity.java
  db/src/main/java/likelion/eight/notice/NoticeEntity.java
  view/src/main/java/likelion/eight/domain/likeCourse/controller/LikeCourseController.java
  view/src/main/java/likelion/eight/domain/likeCourse/service/LikeCourseService.java
  view/src/main/java/likelion/eight/domain/likeReview/controller/LikeReviewController.java
  view/src/main/java/likelion/eight/domain/likeReview/service/LikeReviewService.java
  view/src/main/java/likelion/eight/domain/notice/controller/NoticeController.java
  view/src/main/java/likelion/eight/domain/notice/model/request/NoticeReq.java
  view/src/main/java/likelion/eight/domain/notice/model/response/NoticeDetailRes.java
  view/src/main/java/likelion/eight/domain/notice/model/response/NoticeRes.java
  view/src/main/java/likelion/eight/domain/notice/service/NoticeService.java
  view/src/main/resources/templates/notice/noticeForm.html
  view/src/main/resources/templates/notice/viewAllNotice.html
  view/src/main/resources/templates/notice/viewNotice.html
Labels: Type:Feature, For: Business

#34 Feat/review entity and course domain
  \
  db/src/main/java/likelion/eight/SubCourseEntity/initializer/SubCourseInitData.java
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  db/src/main/java/likelion/eight/review/ReviewEntity.java
  db/src/main/java/likelion/eight/review/ifs/ReviewJpaRepository.java
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewWithLoginController.java
  view/src/main/java/likelion/eight/domain/review/controller/model/ReviewCreateRequest.java
  view/src/main/java/likelion/eight/domain/review/converter/ReviewConverter.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/model/Review.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
  view/src/main/java/likelion/eight/domain/token/service/TokenService.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/review/reviewRegisterForm.html
  view/src/main/resources/templates/review/showAllReviews.html
  view/src/main/resources/templates/review/showReview.html
Labels: Type:Feature, For: View, For: Repository

#38 Test: UserTest
  view/src/main/java/likelion/eight/common/service/S3ServiceImpl.java
  view/src/main/java/likelion/eight/common/service/port/S3Service.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserEditRequest.java
  view/src/main/java/likelion/eight/domain/user/model/User.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/java/likelion/eight/domain/userauth/controller/model/UserAuthCreateRequest.java
  view/src/main/java/likelion/eight/domain/userauth/converter/UserAuthConverter.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthS3Service.java
  view/src/test/java/likelion/eight/domain/user/model/UserAuthTest.java
  view/src/test/java/likelion/eight/domain/user/service/S3ServiceTest.java
  view/src/test/java/likelion/eight/domain/user/service/UserAuthServiceTest.java
  view/src/test/java/likelion/eight/domain/user/service/UserServiceTest.java
  view/src/test/java/likelion/eight/mock/FakeClockHolder.java
  view/src/test/java/likelion/eight/mock/FakeMailSender.java
  view/src/test/java/likelion/eight/mock/FakeS3Service.java
  view/src/test/java/likelion/eight/mock/FakeUserAuthRepository.java
  view/src/test/java/likelion/eight/mock/FakeUserRepository.java
  view/src/test/java/likelion/eight/mock/FakeUuidHolder.java
  view/src/test/java/likelion/eight/mock/TestMultiPartFile.java
Labels: Type: Test

#36 like Review, Course
  db/src/main/java/likelion/eight/likeCourse/LikeCourseEntity.java
  db/src/main/java/likelion/eight/likeCourse/LikeCourseJpaRepository.java
  db/src/main/java/likelion/eight/likeReview/LikeReviewEntity.java
  db/src/main/java/likelion/eight/likeReview/LikeReviewJpaRepository.java
  view/src/main/java/likelion/eight/domain/likeCourse/controller/LikeCourseController.java
  view/src/main/java/likelion/eight/domain/likeCourse/service/LikeCourseService.java
  view/src/main/java/likelion/eight/domain/likeReview/controller/LikeReviewController.java
  view/src/main/java/likelion/eight/domain/likeReview/model/LikeReviewRes.java
  view/src/main/java/likelion/eight/domain/likeReview/service/LikeReviewService.java
  view/src/main/resources/templates/likes/likeAllCourse.html
  view/src/main/resources/templates/likes/likeAllReviews.html
Labels: Type:Feature, For: Repository, For: Business

#40 Feat/User Chat
  db/src/main/java/likelion/eight/chatlist/ifs/ChatListJpaRepository.java
  db/src/main/java/likelion/eight/chatroom/ChatroomEntity.java
  db/src/main/java/likelion/eight/chatroom/ifs/ChatroomJpaRepository.java
  db/src/main/java/likelion/eight/message/MessageEntity.java
  db/src/main/java/likelion/eight/message/ifs/MessageJpaRepository.java
  db/src/main/java/likelion/eight/review/ReviewEntity.java
  db/src/main/java/likelion/eight/user/ifs/UserJpaRepository.java
  view/build.gradle
  view/src/main/java/likelion/eight/common/config/web/WebSocketConfig.java
  view/src/main/java/likelion/eight/domain/chat/controller/ChatController.java
  view/src/main/java/likelion/eight/domain/chat/controller/WebSocketChatController.java
  view/src/main/java/likelion/eight/domain/chat/model/ChatMessage.java
  view/src/main/java/likelion/eight/domain/chat/model/ChatroomResponse.java
  view/src/main/java/likelion/eight/domain/chat/model/ErrorResponse.java
  view/src/main/java/likelion/eight/domain/chat/service/ChatService.java
  view/src/main/java/likelion/eight/domain/chat/websocket/CustomHandshakeInterceptor.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/resources/templates/chat/chatroom.html
  view/src/main/resources/templates/chat/messages.html
Labels: Type:Feature, For: Business

#42 Feat/image
  db/src/main/java/likelion/eight/bootcamp/BootCampEntity.java
  db/src/main/java/likelion/eight/course/ifs/CourseJpaRepository.java
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/common/controller/ExceptionControllerAdvice.java
  view/src/main/java/likelion/eight/common/domain/exception/FileStorageException.java
  view/src/main/java/likelion/eight/common/service/CookieService.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/BootcampController.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/ImageController.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/model/BootcampCreateRequest.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/bootcamp/service/BootcampService.java
  view/src/main/java/likelion/eight/domain/bootcamp/service/port/BootcampRepository.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/controller/model/CourseDetailDto.java
  view/src/main/java/likelion/eight/domain/course/controller/model/CourseDto.java
  view/src/main/java/likelion/eight/domain/course/controller/model/ReviewDto.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseSpecification.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseRepository.java
  view/src/main/java/likelion/eight/domain/token/service/TokenService.java
  view/src/main/resources/templates/bootcamp/createForm.html
  view/src/main/resources/templates/bootcamp/list.html
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/course/courseList.html
Labels: Type:Feature, For: Repository, For: Business

#43 Fix: UserTestCode
  view/src/test/java/likelion/eight/domain/user/model/UserAuthTest.java
  view/src/test/java/likelion/eight/domain/user/service/UserAuthServiceTest.java
  view/src/test/java/likelion/eight/domain/user/service/UserServiceTest.java
Labels: Type: Test, For: Business

#48 Feat/log trace
  view/src/main/java/likelion/eight/common/config/log/TxLogTrace.java
  view/src/main/java/likelion/eight/common/domain/exception/FileStorageException.java
  view/src/main/java/likelion/eight/common/service/S3ServiceImpl.java
  view/src/main/java/likelion/eight/domain/token/helper/JwtTokenHelper.java
  view/src/main/java/likelion/eight/domain/user/controller/UserLoginController.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserLoginRequest.java
  view/src/main/java/likelion/eight/domain/userauth/controller/UserAuthS3Controller.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthS3Service.java
Labels: Type: Refactor, For: Business

#49 LikeCourse, LikeReview 페이징 처리
  db/src/main/java/likelion/eight/likeCourse/LikeCourseJpaRepository.java
  db/src/main/java/likelion/eight/likeReview/LikeReviewJpaRepository.java
  view/src/main/java/likelion/eight/domain/likeCourse/controller/LikeCourseController.java
  view/src/main/java/likelion/eight/domain/likeCourse/service/LikeCourseService.java
  view/src/main/java/likelion/eight/domain/likeReview/controller/LikeReviewController.java
  view/src/main/java/likelion/eight/domain/likeReview/service/LikeReviewService.java
Labels: Type:Feature, For: Repository, For: Business

#52 Fix: UserServie
  db/src/main/java/likelion/eight/user/ifs/UserJpaRepository.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserFindEmailRequest.java
  view/src/main/java/likelion/eight/domain/user/controller/model/UserFindPasswordRequest.java
  view/src/main/java/likelion/eight/domain/user/infra/UserRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/user/model/User.java
  view/src/main/java/likelion/eight/domain/user/service/CertificationService.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/java/likelion/eight/domain/user/service/port/UserRepository.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthS3Service.java
Labels: Type: Refactor, For: Business

#54 Feat/front setup
  db/src/main/java/likelion/eight/message/MessageEntity.java
  view/src/main/resources/static/js/bootcamp/index.js
  view/src/main/resources/static/js/bootcamp/loadcamp.js
  view/src/main/resources/static/js/chat/index.js
  view/src/main/resources/static/js/chat/modal.js
  view/src/main/resources/static/js/chat/newChatButton.js
  view/src/main/resources/static/js/chat/startChat.js
  view/src/main/resources/static/js/chat/startChatButton.js
  view/src/main/resources/templates/chat/messages.html
Labels: Type:Feature, For: View

#55 Fix: UserService TempPssword
  view/src/main/java/likelion/eight/ViewApplication.java
  view/src/main/java/likelion/eight/common/config/log/TxLogTrace.java
  view/src/main/java/likelion/eight/common/infrastructure/SystemUuidHolder.java
  view/src/main/java/likelion/eight/domain/user/model/User.java
  view/src/main/java/likelion/eight/domain/user/service/CertificationService.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
Labels: Type: Refactor, For: Business

#59 Fix/boot camp search
  view/src/main/java/likelion/eight/ViewApplication.java
  view/src/main/java/likelion/eight/common/config/log/TxLogTrace.java
  view/src/main/java/likelion/eight/common/config/s3/S3Config.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/BootcampController.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/model/BootCampSearchCond.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/model/BootCampSearchResponse.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampQueryDslRepository.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampRepositoryQueryDSLImpl.java
  view/src/main/java/likelion/eight/domain/bootcamp/service/BootcampService.java
  view/src/main/java/likelion/eight/domain/bootcamp/service/port/BootcampRepository.java
Labels: Type:Feature, For: Repository

#58 Feat/review
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  view/src/main/resources/templates/fragments/navbar.html
  view/src/main/resources/templates/layout/default.html
  view/src/main/resources/templates/review/editReviewForm.html
  view/src/main/resources/templates/review/reviewRegisterForm.html
  view/src/main/resources/templates/review/showAllReviews.html
  view/src/main/resources/templates/review/showReview.html
  view/src/main/resources/templates/user/createForm.html
Labels: For: View

#61 style : user
  view/src/main/resources/static/index.html
  view/src/main/resources/templates/login/loginForm.html
  view/src/main/resources/templates/user/createForm.html
Labels: For: View

#62 feat: 리뷰 좋아요 오류 수정
  view/src/main/java/likelion/eight/domain/likeReview/controller/LikeReviewController.java
  view/src/main/resources/templates/review/showReview.html
Labels: Type: Errors/Bugs, For: View

#64 feat: notice 중요 정렬 수정
  view/src/main/java/likelion/eight/domain/notice/controller/NoticeController.java
  view/src/main/java/likelion/eight/domain/notice/service/NoticeService.java
Labels: Type: Errors/Bugs, For: View, For: Business

#65 Feat/front setup
  view/src/main/java/likelion/eight/common/controller/HomeController.java
  view/src/main/java/likelion/eight/common/controller/NavbarController.java
  view/src/main/java/likelion/eight/common/service/CookieService.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/resolver/UserCookieResolver.java
  view/src/main/resources/static/index.html
  view/src/main/resources/templates/bootcamp/courses.html
  view/src/main/resources/templates/chat/chatroom.html
  view/src/main/resources/templates/chat/messages.html
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/fragments/navbar.html
  view/src/main/resources/templates/index.html
  view/src/main/resources/templates/layout/default.html
  view/src/main/resources/templates/likes/likeAllCourse.html
  view/src/main/resources/templates/likes/likeAllReviews.html
  view/src/main/resources/templates/notice/noticeForm.html
  view/src/main/resources/templates/notice/viewAllNotice.html
  view/src/main/resources/templates/notice/viewNotice.html
  view/src/main/resources/templates/review/showReview.html
Labels: Type:Feature, For: View

#70 Feat/map Naver Map Api
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseRestController.java
  view/src/main/java/likelion/eight/domain/course/model/map/Address.java
  view/src/main/java/likelion/eight/domain/course/model/map/AddressElement.java
  view/src/main/java/likelion/eight/domain/course/model/map/Meta.java
  view/src/main/java/likelion/eight/domain/course/model/map/NaverMapRes.java
  view/src/main/java/likelion/eight/domain/course/service/NaverMapService.java
  view/src/main/resources/templates/course/courseDetail.html
Labels: Type:Feature, For: View, For: Api, For: Business

#69 Feat/approach non member
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewWithLoginController.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/review/showAllReviews.html
  view/src/main/resources/templates/review/showReview.html
Labels: Type:Feature, For: View

#73 Feat/map 네이버 지도
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
Labels: Type: Errors/Bugs

#77 feat: 리뷰 좋아요 버튼 수정
  view/src/main/java/likelion/eight/domain/review/controller/ReviewWithLoginController.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/resources/templates/review/showReview.html
Labels: Type: Refactor

#75 Feat/index template
  view/src/main/java/likelion/eight/common/controller/HomeController.java
  view/src/main/java/likelion/eight/common/index/controller/IndexController.java
  view/src/main/java/likelion/eight/common/index/controller/model/CourseDto.java
  view/src/main/java/likelion/eight/common/index/controller/model/ReviewDto.java
  view/src/main/java/likelion/eight/common/index/service/IndexService.java
  view/src/main/java/likelion/eight/domain/bootcamp/infra/BootcampRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseCustomRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseCustomRepository.java
  view/src/main/java/likelion/eight/domain/review/converter/ReviewConverter.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewCustomRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewCustomRepository.java
  view/src/main/resources/templates/index.html
Labels: Type:Feature

#78 Feat/front CustomErrorController, ExceptionControllerAdvice (Non-member access 설정)
  view/src/main/java/likelion/eight/common/annotation/Login.java
  view/src/main/java/likelion/eight/common/controller/CustomErrorController.java
  view/src/main/java/likelion/eight/common/controller/ExceptionControllerAdvice.java
  view/src/main/java/likelion/eight/domain/bootcamp/controller/BootcampController.java
  view/src/main/java/likelion/eight/domain/notice/controller/NoticeController.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/java/likelion/eight/interceptor/AuthorizationInterceptor.java
  view/src/main/java/likelion/eight/resolver/UserCookieResolver.java
  view/src/main/resources/templates/error/404.html
  view/src/main/resources/templates/error/500.html
  view/src/main/resources/templates/error/error.html
  view/src/main/resources/templates/fragments/navbar.html
Labels: Type:Feature, For: Common

#80 Refactor/review
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/ReviewWithLoginController.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/review/reviewRegisterForm.html
  view/src/main/resources/templates/review/showAllReviews.html
  view/src/main/resources/templates/review/showReview.html
Labels: Type: Refactor

#82 fix: Corrected misconfigured 'ReviewController' and view files
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/resources/templates/review/editReviewForm.html
  view/src/main/resources/templates/review/showReview.html
Labels: Type: Refactor, For: View

#83 Refactor/show review
  view/src/main/java/likelion/eight/domain/review/controller/ReviewController.java
  view/src/main/java/likelion/eight/domain/review/controller/model/ReviewAll.java
  view/src/main/java/likelion/eight/domain/review/controller/model/ReviewSearchCondition.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/model/Review.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
  view/src/main/resources/templates/review/showAllReviews.html
Labels: For: View

#89 feat : 유저 이메일 인증
  view/src/main/java/likelion/eight/domain/user/controller/UserController.java
  view/src/main/java/likelion/eight/domain/user/converter/UserConverter.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/resources/templates/user/createForm.html
Labels: Type:Feature

#92 Feat : 쿼리 성능 최적화
  db/src/main/java/likelion/eight/SubCourseEntity/initializer/SubCourseInitData.java
  db/src/main/java/likelion/eight/course/CourseEntity.java
  db/src/main/java/likelion/eight/course/initializer/CourseInitData.java
  view/src/main/java/likelion/eight/domain/bootcamp/converter/BootcampConverter.java
  view/src/main/java/likelion/eight/domain/category/converter/CategoryConverter.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/controller/model/CourseDto.java
  view/src/main/java/likelion/eight/domain/course/converter/CourseConverter.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseQueryDSLRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseSpecification.java
  view/src/main/java/likelion/eight/domain/course/model/Course.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseCustomRepository.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseRepository.java
  view/src/main/java/likelion/eight/domain/subcourse/converter/SubCourseConverter.java
  view/src/main/resources/templates/course/courseList.html
Labels: Type: Refactor

#93 Feat/user course
  db/src/main/java/likelion/eight/certificationirequest/UserAuthEntity.java
  db/src/main/java/likelion/eight/course/CourseEntity.java
  db/src/main/java/likelion/eight/review/ReviewEntity.java
  db/src/main/java/likelion/eight/review/ifs/ReviewJpaRepository.java
  db/src/main/java/likelion/eight/user/UserEntity.java
  db/src/main/java/likelion/eight/userCourse/UserCourseEntity.java
  db/src/main/java/likelion/eight/userCourse/ifs/UserCourseJpaRepository.java
  view/src/main/java/likelion/eight/common/config/s3/S3Config.java
  view/src/main/java/likelion/eight/common/config/web/WebConfig.java
  view/src/main/java/likelion/eight/common/service/S3ServiceImpl.java
  view/src/main/java/likelion/eight/domain/course/controller/CourseController.java
  view/src/main/java/likelion/eight/domain/course/converter/CourseConverter.java
  view/src/main/java/likelion/eight/domain/course/infra/CourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/course/service/CourseService.java
  view/src/main/java/likelion/eight/domain/course/service/port/CourseRepository.java
  view/src/main/java/likelion/eight/domain/review/infra/ReviewRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/review/service/ReviewService.java
  view/src/main/java/likelion/eight/domain/review/service/port/ReviewRepository.java
  view/src/main/java/likelion/eight/domain/user/controller/MyPageController.java
  view/src/main/java/likelion/eight/domain/user/controller/UserController.java
  view/src/main/java/likelion/eight/domain/user/converter/UserConverter.java
  view/src/main/java/likelion/eight/domain/user/model/User.java
  view/src/main/java/likelion/eight/domain/user/service/UserService.java
  view/src/main/java/likelion/eight/domain/userCourse/converter/UserCourseConverter.java
  view/src/main/java/likelion/eight/domain/userCourse/infra/UserCourseRepositoryImpl.java
  view/src/main/java/likelion/eight/domain/userCourse/model/UserCourse.java
  view/src/main/java/likelion/eight/domain/userCourse/service/UserCourseService.java
  view/src/main/java/likelion/eight/domain/userCourse/service/port/UserCourseRepository.java
  view/src/main/java/likelion/eight/domain/userauth/controller/UserAuthDBController.java
  view/src/main/java/likelion/eight/domain/userauth/controller/UserAuthS3Controller.java
  view/src/main/java/likelion/eight/domain/userauth/controller/model/UserAuthCreateRequest.java
  view/src/main/java/likelion/eight/domain/userauth/converter/UserAuthConverter.java
  view/src/main/java/likelion/eight/domain/userauth/model/UserAuth.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthS3Service.java
  view/src/main/java/likelion/eight/domain/userauth/service/UserAuthService.java
  view/src/main/resources/templates/course/courseDetail.html
  view/src/main/resources/templates/fragments/navbar.html
  view/src/main/resources/templates/myPage/myPageMain.html
  view/src/main/resources/templates/user/editUserForm.html
  view/src/main/resources/templates/user/images.html
  view/src/main/resources/templates/user/uploadForm.html
Labels: Type:Feature, For: View
